//-------------------------------------------//

// OWL CAROUSEL ORIGINAL STYLING

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel {
    .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }

    .owl-animated-in {
        z-index: 0;
    }

    .owl-animated-out {
        z-index: 1;
    }

    .fadeOut {
        animation-name: fadeOut;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 *     Owl Carousel - Auto Height Plugin
 */

.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;

    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        touch-action: manipulation;
        -moz-backface-visibility: hidden; /* fix firefox animation glitch */
    }

    .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-wrapper,
    .owl-item {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }

    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

    .owl-item img {
        display: block;
        width: 100%;
    }

    .owl-nav.disabled,
    .owl-dots.disabled {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next,
    button.owl-dot {
        background: none;
        color: inherit;
        border: none;
        padding:0!important;
        font: inherit;
    }

    &.owl-loaded {
        display: block;
    }

    &.owl-loading {
        opacity: 0;
        display: block;
    }

    &.owl-hidden {
        opacity: 0;
    }

    &.owl-refresh .owl-item {
        visibility: hidden;
    }

    &.owl-drag .owl-item {
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.owl-grab {
        cursor: move;
        cursor: grab;
    }

    &.owl-rtl {
        direction: rtl;
    }

    &.owl-rtl .owl-item {
        float: right;
    }
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *     Owl Carousel - Lazy Load Plugin
 */

.owl-carousel {
    .owl-item {
        .owl-lazy {
            opacity: 0;
            transition: opacity 400ms ease;
        }

        /**
            This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
            calculation of the height of the owl-item that breaks page layouts
         */
        .owl-lazy[src^=""], .owl-lazy:not([src]) {
            max-height: 0;
        }

        img.owl-lazy {
            transform-style: preserve-3d;
        }
    }
}

/*
 *     Owl Carousel - Video Plugin
 */

.owl-carousel {
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }

    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: url("../../images/owlcarousel/owl.video.play.png") no-repeat;
        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        transition: transform 100ms ease;
    }

    .owl-video-play-icon:hover {
        transform: scale(1.3, 1.3);
    }

    .owl-video-playing .owl-video-tn,
    .owl-video-playing .owl-video-play-icon {
        display: none;
    }

    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity 400ms ease;
    }

    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}

/*
 *  Owl Carousel - Nav & Dots
 */

.owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
        display: inline-block;
        margin: auto;
        padding: 0.9rem 0;
        color: $white;
        font-size: $core-font-size;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        @include transition(all 0.25s);

        &:hover {
            text-decoration: none;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    // Styling dots
    .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
    }

    .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent;

        .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;

            span {
                width: 15px;
                height: 15px;
                margin: 0 ($content-margin / 2);
                background: $base-text-color;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity 200ms ease;
                border-radius: 15px;
            }

            &.active,
            &:hover {
                span {
                    background: $white;
                }
            }
        }
    }
}

//-------------------------------------------//

// THEME PARTICLES STYLING

.g-owlcarousel {
    color: #eceeef;

    .g-owlcarousel-item-wrapper {
        position: relative;

        .g-owlcarousel-item-img {
            position: relative;

            &:after {
                position: absolute;
                content: "";
                height: 100%;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .g-owlcarousel-item-content-container {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include transform-style(preserve-3d);

            @include breakpoint(very-large-desktop-range) {
                width: $breakpoints-very-large-desktop-container;
            }

            @include breakpoint(large-desktop-range) {
                width: $breakpoints-large-desktop-container;
            }

            @include breakpoint(desktop-range) {
                width: $breakpoints-desktop-container;
            }

            @include breakpoint(tablet-range) {
                width: ($breakpoints-tablet-container - 8rem);
            }

            @include breakpoint(large-mobile-range) {
                width: $breakpoints-large-mobile-container;
            }

            @include breakpoint(small-mobile-range) {
                width: 100%;
            }

            .g-owlcarousel-item-content-wrapper {
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                height: 100%;

                @include breakpoint(desktop-range) {
                    padding-top: 2.5rem;
                }

                .g-owlcarousel-item-content {
                    margin: ($content-margin * 2) $content-margin $content-margin;
                    padding: $content-padding;
                    text-align: center;

                    @include breakpoint(tablet-range) {
                        padding-top: 2.5rem;
                    }

                    .g-owlcarousel-item-title {
                        font-size: 3.5rem;
                        line-height: 4rem;
                        margin: ($content-margin * 2) ($content-margin * 2) $content-margin;

                        @include breakpoint(desktop-range) {
                            font-size: 3rem;
                            line-height: 3.875rem;
                        }

                        @include breakpoint(tablet-range) {
                            font-size: 2rem;
                            line-height: 2.875rem;
                            margin-top: ($content-margin * 5);
                        }

                        @include breakpoint(large-mobile-range) {
                            margin-top: 0;
                            font-size: 2rem;
                            line-height: 2.875rem;
                        }

                        @include breakpoint(small-mobile-range) {
                            margin-top: 0;
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }

                    .g-owlcarousel-item-desc {
                        font-size: 1.5rem;
                        line-height: $core-line-height - 0.5;
                        padding-bottom: $content-padding * 1.5;
                        margin-top: 0;
                        margin-bottom: $content-margin;

                        @include breakpoint(desktop-range) {
                            font-size: 1rem;
                            line-height: 1.875rem;
                        }

                        @include breakpoint(tablet-range) {
                            font-size: 1rem;
                            line-height: 1.875rem;
                            padding-bottom: 0;
                        }
                    }

                    .g-owlcarousel-item-button {
                        @include breakpoint(tablet-range) {
                            padding: 1rem 2.625rem;
                            font-size: $core-font-size - 0.4;
                        }
                    }
                }
            }
        }
    }

    // Nav
    .owl-nav {
        margin: 0;

        button.owl-prev,
        button.owl-next {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            width: 42px;
            height: 42px;
            color: $white;
            border: 1px solid $white;
            border-radius: 50%;
            text-align: center;
            @include transition(all 0.3s);

            .fa {
                position: relative;
            }

            &:hover {
                background: fadeout($white, 80%);
                border-color: transparent;
            }
        }

        .owl-prev {
            left: 3rem;

            @include breakpoint(mobile-only) {
                left: 2rem;
            }

            .fa {
                left: -1px;
                top: 1px;
            }
        }

        .owl-next {
            right: 3rem;

            @include breakpoint(mobile-only) {
                right: 2rem;
            }

            .fa {
                left: 1px;
                top: 1px;
            }
        }
    }

    // Dots
    .owl-dots {
        position: absolute;
        bottom: 12%;
        width: 100%;
        text-align: center;

        @include breakpoint(desktop-range) {
            bottom: 5%;
        }

        @include breakpoint(tablet-range) {
            bottom: 1rem;
        }

        @include breakpoint(mobile-only) {
            bottom: 0.5rem;
        }

        .owl-dot {
            display: inline-block;
            background: $base-text-color;
            margin: 0 ($content-margin / 2);
            width: 15px;
            height: 15px;
            border-radius: 15px;
            opacity: 0.75;
            @include transition(all 0.2s);

            &.active,
            &:hover {
                opacity: 1;
                background: $white;
            }
        }
    }

    // Color Overlay
    &.has-color-overlay {
        .owl-stage > .owl-item:nth-child(even) {
            .g-owlcarousel-item-img:after {
                background-color: $accent-color-1;
                @include linear-gradient(40deg, $accent-color-1, $accent-color-2);
                opacity: 0.9;
            }
        }

        .owl-stage > .owl-item:nth-child(odd) {
            .g-owlcarousel-item-img:after {
                background-color: $accent-color-2;
                @include linear-gradient(140deg, $accent-color-2, $accent-color-1);
                opacity: 0.9;
            }
        }
    }
}
        
// Extension

$c-green1: #32be8a;
$c-green2: #66fbbd;
$c-red1: #be3232;
$c-red2: #e16262;
$c-blue1: #326abe;
$c-blue2: #5f96ea;
$c-violet1: #9932be;
$c-violet2: #bb4be3;
$c-orange1: #fd931d;
$c-orange2: #fbb566;

$overlay1-c-a: #8f4dae;
$overlay1-c-b: #4db2b3;
$overlay2-c-a: #4cad9e;
$overlay2-c-b: #b34b4b;
$overlay3-c-a: #355c7d;
$overlay3-c-b: #c06c84;
$overlay4-c-a: #2a363b;
$overlay4-c-b: #e84a5f;
$overlay5-c-a: #474747;
$overlay5-c-b: #a8a7a7;
$overlay6-c-a: #474747;
$overlay6-c-b: #a8a7a7;
$overlay7-c-a: #4cdb9c;
$overlay7-c-b: #212624;
$overlay8-c-a: #db974c;
$overlay8-c-b: #212624;
$overlay9-c-a: #4c93db;
$overlay9-c-b: #212624;
$overlay10-c-a: #b54cdb;
$overlay10-c-b: #212624;
$overlay11-c-a: #4cd0db;
$overlay11-c-b: #212624;

.g-owlcarousel {
    &.style-neo {
        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-img {
                z-index: 0;
            }

            .g-owlcarousel-item-content-container {
                .g-owlcarousel-item-content-wrapper {
                    padding-top: 2.5rem;

                    .g-owlcarousel-item-content {
                    padding-top: 0 !important;

                        .g-owlcarousel-item-title {
                            font-weight: 400;
                            position: absolute;
                            width: 100%;
                            left: 0;
                            margin: 0;
                            padding: 0.5rem 1.5rem;
                            font-size: 1rem;
                            line-height: 1.2;
                            text-align: center;
                            -webkit-box-shadow: 4px -2px 6px -4px #000;
                            -moz-box-shadow: 4px -2px 6px -4px #000;
                            box-shadow: 4px -2px 6px -4px #000;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s;
                        }

                        .g-owlcarousel-item-desc {
                            font-weight: 400;
                            font-size: 0.90rem;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            padding: 0.375rem 1rem;
                            line-height: 1.5;
                        }

                        .g-owlcarousel-item-button.button {
                            padding: 0.5rem 1.25rem;
                            font-size: 0.9rem;
                            font-weight: 400;
                            border-radius: 0;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                    }
                }

                @include breakpoint(very-large-desktop-range) {
                    width: 100%;
                }

                @include breakpoint(large-desktop-range) {
                    width: 100%;
                }

                @include breakpoint(desktop-range) {
                    width: 100%;
                }

                @include breakpoint(tablet-range) {
                    width: 100%;
                }

                @include breakpoint(large-mobile-range) {
                    width: 100%;
                }

                @include breakpoint(small-mobile-range) {
                    width: 100%;
                }
            }
        }

        .owl-dots {
            height: 1.875rem;
            padding-top: 0.1875rem;
            -webkit-box-shadow: 0 2px 6px -4px #000;
            -moz-box-shadow: 0 2px 6px -4px #000;
            box-shadow: 0 2px 6px -4px #000;

            .owl-dot {
                margin: 0 0.25rem;    
                opacity: 0.8;
                width: 14px;
                height: 14px;
                -webkit-box-shadow: inset 0px 0px 5px -3px #000;
                -moz-box-shadow: inset 0px 0px 5px -3px #000;
                box-shadow: inset 0px 0px 5px -3px #000;
            }
        }

        .owl-nav {
            .owl-prev { left: 0.5rem; }
            .owl-next { right: 0.5rem; }
            .owl-prev, .owl-next { z-index: 2; }

            button {
                &.owl-prev, &.owl-next {
                    width: 20px;
                    height: 20px;
                    top: inherit;
                    font-size: 1rem;
                    border-radius: 0;
                    border: 0;
                    color: #eee;

                    &:hover {
                        background: inherit;
                        border-color: inherit;
                    }

                    .fa {
                        position: relative;
                        text-shadow: 1px 1px 1px #000;
                    }
                }
            }
        }

        .owl-item img {
            font-size: 0;
        }

        &.sa-dots-c .owl-dots {
            text-align: center;
        }

        &.sn-theme-b {
            .button {
                text-shadow: 1px 1px 1px #000;
                background: rgba(0,0,0,0.5);
                border: 1px solid #fff;

                &:hover, &:focus {
                    background: rgba(0,0,0,0.6);
                }
            }

            .owl-dots {
                background: rgba(0,0,0,0.7);

                .owl-dot {
                    background: #fff;
                }
            }

            .g-owlcarousel-item-wrapper {
                .g-owlcarousel-item-img {
                    background: rgba(0,0,0,0.8);
                }

                .g-owlcarousel-item-content-container {
                    .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content {
                        .g-owlcarousel-item-title {
                            color: #eee;
                            text-shadow: 1px 1px 1px #000;
                            background: rgba(0, 0, 0, 0.7);
                        }

                        .g-owlcarousel-item-desc {
                            color: #eee;
                            text-shadow: 1px 1px 1px #000;
                            background: rgba(0, 0, 0, 0.4);
                        }
                    }
                }
            }

            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        color: #eee;

                        .fa {
                            text-shadow: 1px 1px 1px #000;
                        }
                    }
                }
            }
        }

        &.sn-theme-w {
            .button {
                text-shadow: 1px 1px 1px #000;
                background: rgba(193, 192, 192, 0.7);
                border: 1px solid #fff;
                color: #fff;

                &:hover, &:focus {
                    background: rgba(193, 192, 192, 0.5);
                }
            }

            .owl-dots {
                background: rgba(255, 255, 255, 0.9);

                .owl-dot {
                    background: #393939;
                }
            }

            .g-owlcarousel-item-wrapper {
                .g-owlcarousel-item-img {
                    background: rgba(255, 255, 255, 0.85);
                }

                .g-owlcarousel-item-content-container {
                    .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content {
                        .g-owlcarousel-item-title {
                            color: #393939;
                            text-shadow: 1px 1px 1px #AAA;
                            background: rgba(255, 255, 255, 0.9);
                        }

                        .g-owlcarousel-item-desc {
                            color: #393939;
                            text-shadow: 1px 1px 1px #aaa;
                            background: rgba(255, 255, 255, 0.75);
                        }
                    }
                }
            }

            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        color: #393939;
            
                        .fa {
                            text-shadow: 1px 1px 1px #AAA;
                        }
                    }
                }
            }
        }

        @include breakpoint(small-mobile-range) {
            .owl-dots {
                height: 1.8125rem;

                .owl-dot {
                    margin: 0 0.1875rem;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        @include breakpoint(large-mobile-range) {
            .owl-dots {
                height: 1.8125rem;

                .owl-dot {
                    margin: 0 0.1875rem;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    &:not(.style-neo) {

        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-content-container {
                 .g-owlcarousel-item-content-wrapper {
                    .g-owlcarousel-item-content {
                    .g-owlcarousel-item-title {
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                    }
                }
            }
        }

        &.sh-dots-u-square, &.sh-dots-u-round1, &.sh-dots-u-round2 {
            .owl-dots {
                 width: 250px;
                 background: rgba(0, 0, 0, 0.5); 
                 padding: 6px 8px 9px 8px;
            }
        }

        &.sh-dots-u-round1 {
            .owl-dots {
                border-radius: 2px;
            }
        }

        &.sh-dots-u-round2 {
            .owl-dots {
                border-radius: 15px;
            }
        }

        &.sh-dots-u-square, &.sh-dots-u-round1 {
            &.sa-round {
                &.sh-dots-b {
                    &.sa-dots-l {
                        .owl-dots {
                            border-bottom-left-radius: 15px;
                        }
                    }
                    &.sa-dots-r {
                        .owl-dots {
                            border-bottom-right-radius: 15px;
                        }
                    }
                }
                &.sh-dots-t {
                    &.sa-dots-l {
                        .owl-dots {
                            border-top-left-radius: 15px;
                        }
                    }
                    &.sa-dots-r {
                        .owl-dots {
                            border-top-right-radius: 15px;
                        }
                    }
                }
            }
        }

        &.sa-dots-c, &.sa-dots-l, &.sa-dots-r {
            .owl-dots {
                text-align: center;
                margin: 0 auto;
                width: 300px;
            }
        }

        &.sa-dots-c {
            .owl-dots {
                right: 0;
                left: 0;
            }
        }
        &.sa-dots-l {
            .owl-dots {
                left: 0;
            }
        }
        &.sa-dots-r {
            .owl-dots {
                right: 0;
            }
        }

        &.sh-dots-b, &.sh-dots-t {
            .owl-dots {
                padding: 6px 8px 9px 8px;
            }
        }

        &.sh-dots-b {
            .owl-dots {
                bottom: 0;
            }
        }

        &.sh-dots-t {
            .owl-dots {
                top: 0;
                bottom: inherit;
            }
        }

        &.sh-dots-i {
            .owl-dots {
                top: 12%;
                bottom: inherit;
            }
        }

        &.sh-color-b {
            .g-owlcarousel-item-wrapper {
                .g-owlcarousel-item-content-container {
                     .g-owlcarousel-item-content-wrapper {
                        .g-owlcarousel-item-content {
                            .g-owlcarousel-item-title,
                            .g-owlcarousel-item-desc {
                                color: #000;
                            }
                            .g-owlcarousel-item-title {
                                -webkit-transition: all 0.3s;
                                -moz-transition: all 0.3s;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }
        &.sh-color-w {
            .g-owlcarousel-item-wrapper {
                .g-owlcarousel-item-content-container {
                     .g-owlcarousel-item-content-wrapper {
                        .g-owlcarousel-item-content {
                            .g-owlcarousel-item-title,
                            .g-owlcarousel-item-desc {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &.sa-control-gr, &.sa-control-re, &.sa-control-bl, &.sa-control-vi, &.sa-control-or, &.sa-control-g1, &.sa-control-g2 {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
                            background: rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        }

        &.sa-control-gr {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid $c-green1;
                        }
                    }
                }
            }
        }

         &.sa-control-re {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid $c-red1;
                        }
                    }
                }
            }
        }

        &.sa-control-bl {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid $c-blue1;
                        }
                    }
                }
            }
        }

        &.sa-control-vi {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid $c-violet1;
                        }
                    }
                }
            }
        }

        &.sa-control-or {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid $c-orange1;
                        }
                    }
                }
            }
        }

        &.sa-control-g1 {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid #AAA;
                        }
                    }
                }
            }
        }

        &.sa-control-g2 {
            .owl-nav {
                button {
                    &.owl-prev, &.owl-next {
                        &:hover {
							border: 1px solid #CCC;
                        }
                    }
                }
            }
        }
    }

    &.style-neo1 {
        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-content-container {
                .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content{
                    .g-owlcarousel-item-title {
                        bottom: 0;
                    }
                    .g-owlcarousel-item-desc {
                        margin-bottom: 35px;
                        bottom: 0;
                    }
                }
            }
        }

        .owl-dots {
            top: 0;
            padding-top: 0.1875rem;
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    bottom: 0;
                }
            }
        }
    }

    &.style-neo2 {
        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-content-container {
                .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content {
                    .g-owlcarousel-item-title {
                        top: 0;
                    }
                    .g-owlcarousel-item-desc {
                        margin-top: 35px;
                        top: 0;
                    }
                }
            }
        }

        .owl-dots {
            bottom: 0;
            padding-top: 0.125rem;
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    top: 0.9375rem;
                }
            }
        }
    }

    &.style-neo3 {
        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-content-container {
                .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content {
                    .g-owlcarousel-item-title {
                        bottom: 0;
                    }

                    .g-owlcarousel-item-desc {
                        margin-bottom: 35px;
                        bottom: 0;
                    }
                }
            }
        }

        .owl-dots {
            top: 0;
            padding-top: 0.1875rem;
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    top: 0.8125rem;
                }
            }
        }
    }

    &.style-neo4 {
        .g-owlcarousel-item-wrapper {
            .g-owlcarousel-item-content-container {
                .g-owlcarousel-item-content-wrapper .g-owlcarousel-item-content {
                    .g-owlcarousel-item-title {
                        top: 0;
                    }
                    .g-owlcarousel-item-desc {
                        margin-top: 35px;
                        top: 0;
                    }
                }
            }
        }

        .owl-dots {
            bottom: 0;
            padding-top: 0.1875rem;
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    bottom: -0.125rem;
                }
            }
        }
    }

    &.style-neo1,
    &.style-neo3 {
        &.sa-round .owl-dots {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    &.style-neo2,
    &.style-neo4 {
        &.sa-round .owl-dots {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    &.style-neo1,
    &.style-neo2 {
        &.sa-dots-l .owl-dots {
            text-align: left;
            padding-left: 0.5rem;
        }
    }

    &.style-neo1,
    &.style-neo2, {
        &.sa-dots-r .owl-dots {
            text-align: right;
            padding-right: 0.5rem;
        }
    }

    &.style-neo3,
    &.style-neo4 {
        &.sa-dots-l .owl-dots {
            text-align: left;
            padding-left: 2rem;
        }
    }

    &.style-neo3,
    &.style-neo4, {
        &.sa-dots-r .owl-dots {
            text-align: right;
            padding-right: 2rem;
        }
    }

    &.sa-round {
        .owl-stage-outer {
            border-radius: 15px;
        }
    }

    &.sa-control-gr {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: $c-green1;
                }
                &.active:hover {
                    background: $c-green2;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: $c-green1;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: $c-green1 !important;
        }
    }

    &.sa-control-re {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: $c-red1;
                }
                &.active:hover {
                    background: $c-red2;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: $c-red1;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: $c-red1 !important;
        }
    }

    &.sa-control-bl {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: $c-blue1;
                }
                &.active:hover {
                    background: $c-blue2;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: $c-blue1;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: $c-blue1 !important;
        }
    }

    &.sa-control-vi {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: $c-violet1;
                }
                &.active:hover {
                    background: $c-violet2;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: $c-violet1;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: $c-violet1 !important;
        }
    }

    &.sa-control-or {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: $c-orange1;
                }
                &.active:hover {
                    background: $c-orange2;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: $c-orange1;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: $c-orange1 !important;
        }
    }

    &.sa-control-g1 {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: #AAA;
                }
                &.active:hover {
                    background: #CCC;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: #AAA;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: #AAA !important;
        }
    }

    &.sa-control-g2 {
        .owl-dots {
            .owl-dot {
                &.active, &:hover {
                    background: #CCC;
                }
                &.active:hover {
                    background: #AAA;
                }
            }
        }

        .owl-nav {
            button {
                &.owl-prev, &.owl-next {
                    &:hover {
                        color: #CCC;
                    }
                }
            }
        }

        .g-owlcarousel-item-content a:hover h1 {
            color: #CCC !important;
        }
    }

    &.sa-overlay-h1 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay1-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay1-c-a, $overlay1-c-b);
                        background-image: linear-gradient(140deg, $overlay1-c-a, $overlay1-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-h2 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay2-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay2-c-a, $overlay2-c-b);
                        background-image: linear-gradient(140deg, $overlay2-c-a, $overlay2-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-h3 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay3-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay3-c-a, $overlay3-c-b);
                        background-image: linear-gradient(140deg, $overlay3-c-a, $overlay3-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-h4 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay4-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay4-c-a, $overlay4-c-b);
                        background-image: linear-gradient(140deg, $overlay4-c-a, $overlay4-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-h5 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay5-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay5-c-a, $overlay5-c-b);
                        background-image: linear-gradient(140deg, $overlay5-c-a, $overlay5-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-h6 {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay6-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay6-c-a, $overlay6-c-b);
                        background-image: linear-gradient(140deg, $overlay6-c-a, $overlay6-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-gr {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay7-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay7-c-a, $overlay7-c-b);
                        background-image: linear-gradient(140deg, $overlay7-c-a, $overlay7-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-or {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay8-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay8-c-a, $overlay8-c-b);
                        background-image: linear-gradient(140deg, $overlay8-c-a, $overlay8-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-bl {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay9-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay9-c-a, $overlay9-c-b);
                        background-image: linear-gradient(140deg, $overlay9-c-a, $overlay9-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-vi {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay10-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay10-c-a, $overlay10-c-b);
                        background-image: linear-gradient(140deg, $overlay10-c-a, $overlay10-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &.sa-overlay-tu {
        &.has-color-overlay {
            .owl-stage > .owl-item {
                &:nth-child(even), &:nth-child(odd) {
                    .g-owlcarousel-item-img:after {
                        background-color: $overlay11-c-a;
                        background-image: -webkit-linear-gradient(-410deg, $overlay11-c-a, $overlay11-c-b);
                        background-image: linear-gradient(140deg, $overlay11-c-a, $overlay11-c-b);
                        opacity: 0.9;
                    }
                }
            }
        }
    }    
}